html {
    min-height: 100vh;
}

body {
    background-color: #F9F8F6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative; 
    width: 30em;
    height: 43em;
    margin:0px; 
    padding:0px; 
    left:0px; 
    right:0px;
}

#content {
    display: flex;
    width: 100%;
}

#header-container{
    background: linear-gradient(90deg, rgba(161, 205, 143, 0.93181) 36%, #f9f8f6 100%);
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-flow: column;
    width: 1200px;
    height: 400px;
    top: 0px;
    left: -2px;
    font-family: 'Montserrat', sans-serif;
    color: #37342f;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color:  #37342f;
    font-size: 40px;
    font-weight: 341;
    margin: 54px;
}

#flower-vase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: relative;
    width: 30em;
    margin: auto;
    width: 180em;
    left: 28em;
    height: 126vh;
    background: rgb(249,248,246);
    background: linear-gradient(0deg, rgba(249,248,246,1) 7%, rgba(180,214,165,1) 35%, rgba(161,205,143,1) 54%, rgba(249,248,246,1) 100%);
    // border-radius: 175px;

}

img {
    background-color: transparent;
    position: relative;
    top: -50px;
    width: 105%;
}

#flower-selection {
    display: flex;
    flex-flow: column;
    height: 430px;
    position: absolute;
    top: 107px;
    left: 36px;
    margin: 17px;
    align-items: flex-start;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color:  #37342f;
    text-decoration: none;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #605c52;
    font-weight: 343;
    font-style: italic;
    text-decoration: none;
    padding: 25px;
}

#home {
    padding: 0px;
    position: relative;
    left: 5px;
    color: rgb(249,248,246);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #b5d7a7;
}

#choose-flower {
    padding: 3px;
    color: rgb(249,248,246);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #b5d7a7;
}
// a.visited {
//     color: #f3f3f1;
// }

#flower-list {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    color: #605c52;
    font-weight: 343;
    font-style: italic;
    display: flex;
    flex-flow: column;
    height: 400px;
    width: 274px;
    justify-content: flex-start;
    position: absolute;
    top: 166px;
    left: -7px;
    line-height: 36px;
}

#color-select {
    position: absolute;
    left: 23em;
    top: 83vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

#description {
    font-family: 'Montserrat', sans-serif;
    color: #605c52;
    font-weight: 343;
    font-style: italic;
    display: flex;
    height: 400px;
    position: absolute;
    top: 37em;
    left: 16em;
    line-height: 1.8;
    text-align-last: left;
    width: 760px;
}

#color-info {
    font-family: 'Montserrat', sans-serif;
    color: #605c52;
    font-weight: 343;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: relative;
    left: 42vw;
    margin: auto;
    width: 530px;
    height: 126vh;
    // display: flex;
    // height: 400px;
    // position: absolute;
    // top: 105vh;
    // left: 16vw;
    // line-height: 1.8;
    // text-align-last: left;
    // width: 760px;
}

footer {
    font-family: 'Montserrat', sans-serif;
    color: #605c52;
    font-weight: 343;
    font-style: italic;
    position: absolute;
    bottom: -21em;
    display: flex;
    width: 50px;
    align-content: flex-end;
    margin: 24px;
    left: 57em;
}