html {
  min-height: 100vh; }

body {
  background-color: #F9F8F6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 30em;
  height: 43em;
  margin: 0px;
  padding: 0px;
  left: 0px;
  right: 0px; }

#content {
  display: flex;
  width: 100%; }

#header-container {
  background: linear-gradient(90deg, rgba(161, 205, 143, 0.93181) 36%, #f9f8f6 100%);
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-flow: column;
  width: 1200px;
  height: 400px;
  top: 0px;
  left: -2px; }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-variant: all-small-caps;
  color: #37342f;
  font-size: 40px;
  margin: 54px; }

#styler1 {
  background-color: #f9f8f6;
  height: .2em;
  width: 1200px;
  z-index: -1;
  display: flex;
  position: absolute;
  left: 0em;
  top: 7em; }

#styler2 {
  background-color: #f9f8f6;
  height: .2em;
  width: 1200px;
  z-index: -1;
  display: flex;
  position: absolute;
  left: 0em;
  top: 8em; }

#styler3 {
  background-color: #f9f8f6;
  height: 1000px;
  width: .2em;
  z-index: 2;
  display: flex;
  position: absolute;
  left: 3em;
  top: 0em; }

#styler5 {
  height: 29em;
  width: 29em;
  z-index: 1;
  display: flex;
  position: absolute;
  left: 25em;
  top: 6em;
  border-style: double;
  border-color: rgba(249, 248, 246, 0.4);
  border-radius: 255px;
  border-width: 1em; }

#styler6 {
  background-color: #f9f8f6;
  height: 1000px;
  width: .2em;
  z-index: -1;
  display: flex;
  position: absolute;
  left: 51em;
  top: 0em; }

#styler7 {
  background-color: #f9f8f6;
  height: 1000px;
  width: .2em;
  z-index: -1;
  display: flex;
  position: absolute;
  left: 27.8em;
  top: 0em; }

#styler8 {
  background-color: #e1efdc;
  height: 1080px;
  width: .2em;
  z-index: -1;
  display: flex;
  position: absolute;
  left: 79.2em;
  top: 0em; }

#flower-vase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  position: absolute;
  margin: auto;
  width: 23em;
  left: 28em;
  top: -1em;
  height: 55em;
  background: #f9f8f6;
  background: linear-gradient(0deg, #f9f8f6 7%, #b4d6a5 35%, #a1cd8f 54%, #f9f8f6 100%); }

img {
  background-color: transparent;
  position: relative;
  top: -50px;
  width: 105%;
  z-index: 2; }

#flower-selection {
  display: flex;
  flex-flow: column;
  height: 430px;
  position: absolute;
  top: 9em;
  left: 2em;
  margin: 17px;
  align-items: flex-start;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #37342f;
  text-decoration: none; }

a {
  font-family: 'Open Sans', sans-serif;
  color: #605c52;
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
  padding: 25px; }

#home {
  padding: 0px;
  position: relative;
  left: 5px;
  color: #f9f8f6;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: #b5d7a7; }

#choose-flower {
  padding: 3px;
  color: #f9f8f6;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: #b5d7a7; }

#flower-list {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  color: #605c52;
  font-weight: 343;
  font-style: italic;
  display: flex;
  flex-flow: column;
  height: 400px;
  width: 274px;
  justify-content: flex-start;
  position: absolute;
  top: 15em;
  left: 0em;
  line-height: 36px; }

#color-select {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  color: #605c52;
  font-weight: 343;
  font-style: italic;
  position: absolute;
  width: 15em;
  left: 64em;
  top: 11em;
  flex-flow: column;
  display: flex;
  align-items: center;
  z-index: 1;
  line-height: 1em;
  border-color: #d2e4c6;
  border-style: double; }

#choose-color {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  color: #605c52;
  font-weight: 343;
  font-size: 21px;
  font-style: italic;
  line-height: 2em; }

#description {
  font-family: 'Open Sans', sans-serif;
  color: #605c52;
  font-weight: 343;
  font-style: italic;
  display: flex;
  height: 400px;
  position: absolute;
  top: 40em;
  left: 16em;
  line-height: 1.8;
  text-align-last: left;
  width: 760px; }

#color-info {
  font-family: 'Open Sans', sans-serif;
  color: #605c52;
  font-weight: 343;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  position: absolute;
  left: 16em;
  top: 38em;
  margin: auto;
  width: 530px;
  height: 1em; }

#styler4 {
  background-color: #e1efdc;
  height: .2em;
  width: 1400px;
  z-index: -1;
  display: flex;
  position: absolute;
  left: 0em;
  top: 61em; }

footer {
  font-family: 'Open Sans', sans-serif;
  color: #605c52;
  font-weight: 343;
  font-size: 13px;
  font-style: italic;
  position: absolute;
  bottom: -30em;
  display: flex;
  width: 50px;
  align-content: flex-end;
  margin: 24px;
  left: 80em; }
