html {
    min-height: 100vh;
}

body {
    background-color: #F9F8F6;
    display: flex;
    min-height:  100vh;
    margin: 0px;
}

#content {
    display: flex;
    width: 100%;
}

#header-container{
    background: rgb(161,205,143);
    background: linear-gradient(90deg, rgba(161,205,143,0.9318102240896359) 36%, rgba(249,248,246,1) 100%);
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-flow: column;
    width: 1200px;
    height: 350px;
    font-family: 'Montserrat', sans-serif;
    color:  #37342f;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color:  #37342f;
    font-size: 40px;
    font-weight: 341;
    margin: 54px;
}

// #home {
//     text-decoration: none;
//     z-index: 1;
//     font-family: 'Montserrat', sans-serif;
//     color: #605c52;
// }

#flower-vase {
    display: flex;
    position: absolute;
    left: 45%;
    top: 26%;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin: auto;
    width: 360px;
    height: 360px;
    background: rgb(249,248,246);
    background: linear-gradient(190deg, rgba(249,248,246,1) 36%, rgba(161,205,143,1) 100%);
    border-radius: 175px;

}

img {
    background-color: transparent;
    width: 105%;
}

#flower-selection {
    display: flex;
    flex-flow: column;
    height: 430px;
    position: absolute;
    top: 107px;
    left: 36px;
    margin: 17px;
    align-items: flex-start;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color:  #37342f;
    text-decoration: none;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #605c52;
    font-weight: 343;
    font-style: italic;
    text-decoration: none;
    padding: 25px;
}

#home {
    padding: 0px;
    position: relative;
    left: 5px;
    color: rgb(249,248,246);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #b5d7a7;
}

#choose-flower {
    padding: 3px;
    color: rgb(249,248,246);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #b5d7a7;
}
// a.visited {
//     color: #f3f3f1;
// }

#flower-list {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    color: #605c52;
    font-weight: 343;
    font-style: italic;
    display: flex;
    flex-flow: column;
    height: 400px;
    width: 274px;
    justify-content: flex-start;
    position: absolute;
    top: 166px;
    left: -7px;
    line-height: 36px;
}

#color-select {
    position: absolute;
    left: 31%;
    top: 72%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#description {
    font-family: 'Montserrat', sans-serif;
    color: #605c52;
    font-weight: 343;
    font-style: italic;
    display: flex;
    height: 400px;
    position: absolute;
    top: 80%;
    left: 28%;
    line-height: 1.8;
    text-align-last: left;
    width: 760px;
}

#color-description {
    font-family: 'Montserrat', sans-serif;
    color: #605c52;
    font-weight: 343;
    font-style: italic;
    display: flex;
    height: 400px;
    position: absolute;
    top: 95%;
    left: 28%;
    line-height: 1.8;
    text-align-last: left;
    width: 760px;
}